@use '../../stylesConfig.scss' as styles;

.general-info {
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
    margin-top: 5%;
    width: 100%;
}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    height: 30rem;
    width: 100%;
    background-color: #fff;
}
.card {
    position: relative;
    background-color: styles.$secondary;
    box-shadow: styles.$large-box-shadow;
    border-radius: 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

p {
    margin: 0;
}

.brewery-type {
    position: absolute;
    top: 3%;
    right: 5%;
    border-radius: 10px;
    padding: 0.25rem 1rem;
    font-size: styles.$M;
    color: styles.$tertiary;
    background-color: #333;
}

.back {
    color: styles.$secondary;
    position: absolute;
    top: 3%;
    left: 5%;
    border-radius: 10px;
    padding: 0.25rem 1rem;
    font-size: styles.$M;
    text-decoration: none;
    background-color: styles.$primary;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: styles.$M;
    gap: 2rem;
    overflow: hidden;

    h1 {
        font-size: styles.$XL;
        margin: 0;
        text-align: start;
    }
    
    a {
        text-align: start;
        color: #fff;
        
        span {
            margin-left: 2rem;
        }
    }
}

.icon-container {
    width: 15rem;
    height: 15rem;
}

.contact-icon {
    font-size: 15rem;
}

@media (max-width: styles.$breakpoint-tablet) {
    .contact-details {
        h1 {
            font-size: styles.$L;
        }
        a {
            font-size: styles.$S;
        }
    }
}
@media (max-width: styles.$breakpoint-small-tablet) {
    .contact-details {
        gap: 1rem;

        a {
            span {
                margin-left: 1rem;
            }
        }
    }
    .general-info {
        gap: 0;
        flex-direction: column;
    }

}

@media (max-height: styles.$breakpoint-medium) {
    .icon-container {
        height: 10rem;
        width: 10rem;
    }

    .contact-icon {
        font-size: 10rem;
    }

    .general-info {
        padding: 1rem;
        flex-direction: row;
    }

    .card {
        width: 90%;
    }
}

@media (max-height: styles.$breakpoint-short) {
    .map-container {
        height: 20rem;
    }
}