@use '../../stylesConfig.scss' as styles;

.list-container {
    border-radius: 10px;
    color: styles.$tertiary;
    background-color: styles.$secondary;
    box-shadow: styles.$large-box-shadow;
    height: fit-content;
}

.brewery-title-type {
    margin-bottom: 1rem;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    h3 {
        max-width: 60%;
        font-size: styles.$M;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: styles.$tertiary;
        background-color: #333;
        padding: 0.25rem 3rem;
        border-radius: 10px;
    }
    p {
        border-radius: 10px;
        padding: 0.2rem 0.5rem;
        letter-spacing: 0.1rem;
        font-weight: styles.$bold;
        color: styles.$tertiary;
        background-color: #333;
    }
}

.brewery-details {
    align-items: flex-start;
    padding:0 5% 5% 5%;
    gap: 2rem;
    font-size: styles.$XS;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: styles.$tertiary;
        &:hover {
            cursor: pointer;
            color: styles.$hover;
        }
        max-width: 60%;
    }
    .address {
        max-width: 100%;
    }
    span {
        text-decoration: underline;
        text-align: start;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 30rem;
    }
    
}

.website-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flex-vert {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

@media (max-width: styles.$breakpoint-tablet) {
    .brewery-details {
        a {
            font-size: styles.$S;
            max-width: 60%;
        }
        
        
    }
}

@media (max-width: styles.$breakpoint-small-tablet) {
    .brewery-title-type {
        h3 {
            font-size: styles.$S;
        }
    
    }
    .brewery-details {
        a {
            font-size: styles.$XS;
        }
        
    }
}

@media (max-width: styles.$breakpoint-phone) {
    .brewery-title-type {
        h3 {
            font-size: styles.$XS;
        }
    
    }
    .brewery-details {
        a {
            font-size: 1rem;
        }
        
    }
}