@use '../../stylesConfig.scss' as styles;

.search {
    height: 20%;
    color: styles.$secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.location {
    align-self: flex-start;
    span {
        text-decoration: underline;
    }
}

.title {
    margin-top: 0;
    font-size: 3rem;
    font-weight: styles.$very-bold;
}

.search-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;

    label {
        font-size: 1.4rem;
        font-weight: styles.$bold;
        letter-spacing: 0.1rem;
    }

    input {
        border-radius: 10px;
        padding: 0.25rem 1rem;   
        text-align: center;
        font-size: 1.6rem;  
        width: 50%;
        color: styles.$secondary;
        border: 1px solid styles.$secondary;
        box-shadow: styles.$small-box-shadow;
    }
    button {
        border-radius: 10px;
        padding: 0.25rem 1rem; 
        font-size: 1.4rem;
        color: styles.$secondary;
        box-shadow: styles.$small-box-shadow;
    }
}
