@use '../../stylesConfig.scss' as styles;

.search {
    height: 20%;
    color: styles.$secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
    position: relative;

    p {
        color: styles.$primary;
        font-weight: styles.$bold;
        border-radius: 10px;
        font-size: styles.$S; //maybe $M
        padding: 0 5%;
        background-color: styles.$secondary;
        align-self: flex-start;
        text-align: center;
    }
}

.location {
    align-self: flex-start;
    padding-left: 5%;
    span {
        text-decoration: underline;
    }
}

.title {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: styles.$XL;
    font-weight: styles.$very-bold;
}

.search-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;

    label {
        font-size: styles.$S;
        font-weight: styles.$bold;
        letter-spacing: 0.1rem;
    }

    input {
        border-radius: 10px;
        padding: 0.25rem 1rem;   
        text-align: center;
        font-size: styles.$M;  
        width: 50%;
        color: styles.$secondary;
        border: 1px solid styles.$secondary;
        box-shadow: styles.$small-box-shadow;
    }
    button {
        border-radius: 10px;
        padding: 0.25rem 1rem; 
        font-size: styles.$S;
        color: styles.$secondary;
        box-shadow: styles.$small-box-shadow;
    }
}

@media (max-width: styles.$breakpoint-small-tablet) {
    .title {
        font-size: styles.$L;
    }

    .search-bar {
        label {
            display: none;
        }
    }
}