// Colors:
$primary: #faf3dd;
$secondary: #5e6472;
$tertiary: #b8f2e6;
$links: #ffa69e;
$color5: #aed9e0;

// Font-sizes:


// box-shadow:

$small-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
$large-box-shadow: 6px 6px 9px rgba(0,0,0,0.4);